<h3 class="box"> Edit <%=@playdate.name%> </h3>
<br>
Created by: <%=@originator.name%>
<br>
<% if @originator.id == session[:id] %>
<form method="post" action="/playdates/<%=@playdate.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:</br>
    <input type="text" name="name" value="<%=@playdate.name%>"></br>
  Location:</br>
    <input type="text" name="location" value="<%=@playdate.location%>"></br>
  Description:</br>
    <input type="text" name="description" value="<%=@playdate.description%>"></br>
  When:</br>
    <input type="text" id="datetimepicker" name="when" value="<%=@playdate.datetime%>"></br>
  <input type="submit">
</form>
<%end%>
