<h1> Edit <%=@playdate.name%> </h1>
<br>
Created by: <%=@originator.name%>
<br>
<% if @originator.id == session[:id] %>
<form method="post" action="/playdates/<%=@playdate.id%>">
  <input id="hidden" type="hidden" name="_method" value="patch">
  Name:</br>
      <input type="text" name="name" value="<%=@playdate.name%>"></br>
  Location:</br>
  <input type="text" name="location" value="<%=@playdate.location%>"></br>
  Description:</br>
  <input type="text" name="description" value="<%=@playdate.description%>"></br>
      Date:</br>
      <input type="date" name="date" value="<%=@playdate.date%>"></br>
      Time:</br>
      <input type="time" name="time" value="<%=@playdate.time%>"></br>
  <input type="submit">
</form>
<%end%>
