<div id="form">

<div class="box"><h3><%=@playdate.name%></h3></div>

<small class="right">Created by: <%=@originator.name%></small>
<br>
<br>

<% if flash.has?(:message) %>
  <%= flash[:message] %></br>
<% end %>

<div class="box-content">
<div class="bottom_border">
<h3>Description</h3>
</div>

<p class="margin-bottom"><%=@playdate.description%></p>

<div class="bottom_border">
<h3>Where</h3> 
</div>

<p class="margin-bottom"><%=@playdate.location%></p>

<div class="bottom_border">
<h3>When</h3>
</div>

<% time = @playdate.datetime.strftime("%b %e, %l:%M %p") %>
<p class="margin-bottom"><%=time%></p>
<div class="edit-form">

<% if @originator.id == session[:id] %>
  <form method="get" action="/playdates/<%=@playdate.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input id="submit-button"type="submit" value="edit">
</form>
<%end%>
</div>
</div>

<div class="box-content">
<div class="bottom_border"><h3> Children Attending </h3> </div>

  <%@playdate.children.uniq.each do |child| %>
    <a href="/children/<%=child.slug%>"> <%=child.name%> </a></br>
  <%end%>
<br>

<div class="bottom_border">
<h3> Join </h3>
</div>

<p> Selct a child to join a play date! </p> 

  <form method="post" action="/playdates/join">
    <input type="hidden" name="playdate_id" value="<%=@playdate.id %>">
    <% @parent.children.uniq.each do |child| %>
      <small><%=child.name%> </small><input type="checkbox" value="<%child.name%>" name="child"></br>
      <input type="hidden" name="children[][child_id]" value="<%=child.id %>">
    <%end%>
    <input id="submit-button" type="submit" value="join">
  </form>
  <br>
  <br>
</div>

<div class="box">
  <h3>Comments</h3>

  <% @playdate.comments.each do |comment| %>
  <small><%= "#{comment.parent.name}: "%></small> <div class="comments"> <%= "#{comment.comment} "%> 
<br>
</div>


<% if comment.parent_id == session[:id] %>
  <form method="post" action="/playdates/comment/delete">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="hidden" name="comment_id" value="<%=comment.id %>">
    <input type="hidden" name="playdate_id" value="<%=@playdate.id %>">
     <input type="submit" value="delete" id="small-btn">
  </form>
  <%end%>
<%end%>
<br>

<p> submit a comment </p>

<form method="post" action="/playdates/comment">
  <textarea type="text" name="comment"></textarea></br>
  <input type="hidden" name="playdate_id" value="<%= @playdate.id %>">
  <input id="submit-button-left" type="submit">
</form></br>
</div>
</div>

<br>
<br>

<% if @originator.id == session[:id] %>
  <form action="/playdates/:id/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="hidden" name="playdate_id" value="<%=@playdate.id %>">
    <input id="submit-button" type="submit" value="cancel playdate">
  </form>
<% end %>
</div>
