<h1> <%=@playdate.name%> </h1>
<br>
Created by: <%=@originator.name%>
<h3>Description:</h3>
<%=@playdate.description%></br>
<br>
<h3>Where:</h3>
<%=@playdate.location%></br>
<br>
<h3>When:</h3>
<%=@playdate.date%><%=@playdate.time%></br>
<br>

<% if @originator.id == session[:id] %>
<form method="get" action="/playdates/<%=@playdate.id%>/edit">
  <input id="hidden" type="hidden" name="_method" value="patch">
  <input type="submit" value="edit">
</form>
<%end%>

<br>
<h2> Children Attending </h2>
  
  <%@playdate.children.uniq.each do |child| %>
    <a href="/children/<%=child.slug%>"> <%=child.name%> </a></br>
  <%end%>

  <br>
  <br>
  <h3>Comments:</h3></br>

  <% @playdate.comments.each do |comment| %>
  <small><%= "#{comment.parent.name}: "%></small> <div class="comments"> <%= "#{comment.comment} "%> <br></div></br>
  <%end%>
  <br>

  <p> submit a comment </p>

  <form method="post" action="/playdates/comment">
    <textarea type="text" name="comment"></textarea></br>
    <input type="hidden" name="playdate_id" value="<%=@playdate.id %>">
    <input type="submit">
  </form></br>

  <p> Selct a child to join a play date! </p>

  <form method="post" action="/playdates/join">
    <input type="hidden" name="playdate_id" value="<%=@playdate.id %>">
    <% @parent.children.uniq.each do |child| %>
    <%=child.name %> <input type="checkbox" value="<%child.name%>" name="child"></br>
    <input type="hidden" name="children[][child_id]" value="<%=child.id %>">
    <%end%>
    <input type="submit" value="join">
  </form>

<% if @originator.id == session[:id] %>
  <form action="/playdates/:id/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="hidden" name="playdate_id" value="<%=@playdate.id %>">
    <input type="submit" value="cancel playdate">
  </form>
<% end %>
