<h1>Hello <%= @parent.name %></h1></br>
  email: <%=@parent.email%></br>
    <%@parent.children.uniq.each do |child|%>
    <% child.parents.uniq.each do |parent| %>
    <br>
  child's name: <%= child.name%></br>
  child's age: <%=child.age%></br>
  gender: <%=child.gender%></br>
  <%end%>
<%end%>
<br>

  

